* {
  text-align: center;
  background-color: #16161a;
}
input {
  padding-right: 7px;
  margin-right: 10px;
  color: #94a1b2;
}
h3 {
  color: #fffffe;
}
button {
  color: #fffffe;
  background-color: #7f5af0;
}
p {
  color: #94a1b2;
}
